.calculator {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 5px;
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  margin-top: 10px;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
}
